<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-devourednow="{{devoured}}">
		{{#if devoured}}DEVOURING TIME!{{else}}TIME TO EAT!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>